@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar  */
img {
  width: 150px;
}

/* Main page  */

.height {
  height: 100vh;
}

.card {
  font-family: "Dosis", sans-serif;
  border: none;
  color: black;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 15%;
}

h5 {
  color: black;
  text-align: center;
}

.form-input {
  margin: 10px 0;
}

.form-control {
  height: 50px;
  background-color: #f7f9fc;
  text-indent: 24px;
  font-size: 15px;
}

.form-control:focus {
  border-color: #ddd7d7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(99, 95, 95, 0.01);
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  outline: 0;
  background: #2f302f;
  width: 35%;
  border: 0;
  border-radius: 25px;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button:hover,
.form button:active,
.form button:focus {
  background: #424442;
}

/* Utility class  */
.text-right {
  margin-left: 12.5rem;
}

/* Media querry  */

@media only screen and (max-width: 458px) {
  .primary-button {
    width: 96%;
  }
}

@media only screen and (max-width: 767px) {
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .media-use {
    position: relative;
    margin: 12px;
  }
  .primary-button {
    width: 91%;
  }

  .font-icon {
    position: absolute;
    top: 28%;
    right: 8%;
  }
}

@media only screen and (max-width: 991px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .primary-button {
    width: 90%;
  }
}
